/* CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body{

	font-family: sans-serif;
	box-sizing: border-box;
	background-color: #acacac;

}

.container{

	background-color: white;
	margin: 100px auto;
	width: 1200px;
	height: auto;
	border: 5px solid lightskyblue;
}


/* Awal home */

.container .home .header h1{

	font-size: 80px;
	color: black;
	font-weight: bold;
	text-align: center;
	margin: 30px;
	letter-spacing: 10px;
	padding-bottom: 20px;
}

.container .home .header video{
	
	position: relative;
	object-fit: cover;
	width: 800px;
	height: 500px;
	left: 200px;
	right: 30px;
	bottom:20px;
	border: 5px solid salmon;

}



.ribbon{

	width: auto;
	height: 46px;
	background-color: mediumpurple;
}

.ribbon ul li{

	font-size: 17px;
	font-weight: bold;
	display: inline-block;
	padding-top: 14px;
}

.ribbon ul li a{

	text-decoration: none;
	color: white;
	padding-left: 30px;
}

.ribbon ul li a:hover{

	color: red;
}

.gambar1{
	
	height: 177px;
	width: 186px;
	background-image: url(gepreg1.jpg);
	margin: 30px auto;
	
}

.konten h3{

	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
}

.konten p{

	text-align: justify;
	font-size: 18px;
	line-height: 17px;
	padding: 10px;
	word-spacing: 6px;
}

.ribbon2{

	width: auto;
	height: 46px;
	background-color: mediumpurple;
}

.container .home .konten .ribbon2 h3{

	font-size: 16px;
	text-align: center;
	padding-top: 14px;
	color: white;
	font-weight:none;
}

/* Akhir dari home */



/*Clearfix <== untuk menghentikan float nya*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}